@font-face {
  font-family: 'Hermes';
  src: url(../assets/Hermes.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  font-size: 62.5%; /* =10px */
  font-family: 'Hermes';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Hermes';
  font-weight: bold;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.3rem;
}
p {
  font-size: 1.4rem;
  line-height: 2.8rem;
}
a {
  cursor: pointer;
}
