/* TODO: no licence for commencial use yet */
@font-face {
	font-family: "Hermes";
	src: url(../assets/HermesThin.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
  font-size: 62.5%; /* =10px */
  font-family: "Hermes";
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
