/* TODO: no licence for commencial use yet */
@font-face {
  font-family: 'HermesThin';
  src: url(../assets/HermesThin.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HermesBold';
  src: url(../assets/HermesBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  font-size: 62.5%; /* =10px */
  font-family: 'HermesThin';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'HermesThin';
  font-weight: bold;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  font-size: 1.4rem;
  line-height: 1.5em;
}
